.alertContainer {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10000;
  padding: 20px 35px 20px 20px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
}
